/* font-family: 'Open Sans', sans-serif; */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: rgb(17, 190, 17);
    padding: 1em 0;
}
header h1{
    color: white;
    font-size: 2em;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: 30px;
}
nav{
    background-color: rgb(34, 151, 34);
    margin-bottom: 2em;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    width: 16.3%;
}
 nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
 }
 nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
 }
 

 footer{
    background-color:saddlebrown;
    clear: both;
    color: white;
    padding: 3em 0;
    margin-top: 2em;
    
 }
 .pie {
    text-align: center;
 }

 nav ul li a.activo{
    background-color: rgba(0, 0, 0, 0.3);
 }

 .holder{
    max-width: 960px;
    margin: 0 auto;
 }
 h2 {
     color: #2e64a1;
     font-weight: 400;
     margin: 0 0 1em;
 }
.left{
    float: left;
}
.right{
    float: right;
}

/*Inicio home*/
.homeimg {
    margin-bottom: 1.5em;
}
.imagen{
    width: 100%;
    
}
.bienvenidos, .testimonios {
    box-sizing: border-box;

}
.bienvenidos{
    width: 75%;
    padding-right: 2em;
}
.testimonios {
    width: 25%;
}

.testimonio {
    background-color: #ccc;
    padding: 1em;
}
.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
    display: block;
}
.testimonio .autor {
    text-align: center;
    font-style: italic;
    font-size: 0.7em;
    display: block;
}
p{
    text-align: justify;
}
/* fin de home*/

/* Inicio de Nosotros*/
.historia{
    font-size: 0.8em;
}

/* Fin de Nosotros */

/* Inicio de Novedades*/
/* Novedades va por base de datos*/
/* Fin de Novedades*/

/* Inicio de Geleria*/
.galeria .foto{
    width: 18%;
    float: left;
    margin: 1em 0 1em 2.5%;
    border: 1px solid #ddd;
    padding: 0.3em;
    box-sizing: border-box;
}
.galeria .foto img{
    display: block;
    width: 100%;
}
.galeria .foto:nth-child(5n+1){
    margin-left: 0;
}
/* Fin de Galeria */

/* Inicio de Contacto  */
.columna{
    width: 50%;
    box-sizing: border-box;
    padding: 0.625em;
}
.columna.left{
    border-right: 1px solid rgb(34, 151, 34);
}
.columna.right p{
    font-size: 0.9em;
}
.columna.right ul li {
    font-size: 0.8em;
}
.formulario label{
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
.formulario input,
.formulario textarea{
    background: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 0.8em;
    padding: 0.4em 0.6em;
    width: 60%;
}
.formulario textarea{
    resize: nome;
    height: 10em;
}
.formulario input[type = "submit"]{
    background: #9da9ed;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: white;
    font-size: 1em;
    padding: 0.4em 0.2em;
    text-align: center;
    width: auto;
}
/* Fin de Contacto */
